/node_modules
/public/hot
/public/storage
/public/build
/public/**/mix-manifest.json
/public/assets
/storage/*.key
/storage/docker
/vendor
/v8-compile-cache-0
/.idea
.env
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
